*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* body{
    height: 10000px;
} */
.parent{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 0%;
    background-color: #484cb5 !important;
   border: 1px double #282a5c;
}
a{
    color: white;
    text-decoration: none;
}
.icons{
    display: flex;
    gap: 50px;
}
.btn{
    width: 100px;
    background-color: #26a69a;
    text-align: center;
    cursor: pointer;
    padding: 8px;
    
}
.btn:hover {
    background-color: #8484a5; 
    
  }
.main{
    height: 800px;
    color: white;
    background-color: #484cb5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
h1{
    font-size: xxx-large;
}
.btn2{
    width: 150px;
    padding: 20px;
    background-color: #283593; 
}

.tool{
    margin: 50px 0px;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
.three-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 20px;
    margin: 20px 20%;
    cursor: pointer;
}
.items{
    padding: 50px;
    border: 1px solid;
}

.btn3{
    width: 150px;
    padding: 20px;
    background-color: #283593; 
}
.btn3:hover {
    background-color: #03038a; 
    
  }
.foot{
    background-color: #484cb5;
    display: grid;
    grid-template-columns: 2 , 1fr;
    justify-content: space-around;
    text-align: center;
    color: white;
    height: 250px;

}
.img1{
    height: 50px;
}
.img2{
    height: 80px;
    width: 100px;
}



footer{
    background-color: #383a85;
    border: 1px double #282a5c;
    text-align: center;
    padding: 10px;
    color: white;

}
@media only screen and (max-width: 768px) {
    
}

