* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  width: 100%;
  padding: 10px;
  top: 0%;
  background-color: #484cb5 !important;
  border: 1px double #282a5c;
}
a {
  color: white;
  text-decoration: none;
}
.icons {
  display: flex;
  gap: 50px;
  align-items: center;
}
.btn {
  width: 100px;
  background-color: #26a69a;
  text-align: center;
  cursor: pointer;
  padding: 8px;
}
.btn:hover {
  background-color: #8484a5;
}
.main {
  color: white;
  background-color: #484cb5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  gap: 100px;
}
.image1 {
  max-width: 500px;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
h1 {
  font-size: xxx-large;
}
.btn2 {
  width: 170px;
  padding: 20px;
  background-color: #283593;
}

.tool {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 0 50px;
}
.tool > p {
  text-align: center;
  max-width: 1000px;
}
.three-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 20px;
  margin: 20px 20%;
  cursor: pointer;
}
.items {
  padding: 50px;
  border: 1px solid;
}

.btn3 {
  width: 200px;
  height: 200px;
  /* padding: 20px; */
  background-color: #283593;
}
.btn3:hover {
  background-color: #03038a;
}
.foot {
  background-color: #484cb5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  /* height: 500px; */
  gap: 50px;
  width: 100%;
  padding: 50px 50px;
}
.img1 {
  height: 50px;
}
.img2 {
  width: 150px;
}
.left-foot {
  display: flex;
  flex-direction: column;
  max-width: 450px;

  gap: 15px;
}
.left-foot > p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  max-width: 600px;
}

footer {
  background-color: #383a85;
  border: 1px double #282a5c;
  text-align: center;
  padding: 10px;
  color: white;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box > p {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  max-width: 600px;
}

@media only screen and (max-width: 1000px) {
  .icons {
    display: none;
  }
  .main {
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .image1 {
    max-width: 300px;
  }
  .tool {
    padding: 25px;
  }
  .tool > h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 760px) {
  .main {
    gap: 50px;
  }
  .box {
    align-items: center;
  }
  .box > p {
    text-align: center;
  }
}
@media only screen and (max-width: 615px) {
  .foot {
    flex-direction: column;
    text-align: center;
  }
  .box > h1 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
    text-align: center;
  }
  .box > p {
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    text-align: center;
  }
}
